
*, *::before, *::after {
    box-sizing: border-box;
    font-family: Gotham Rounded;
    color: white; 
  }
  
  body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #333;

  }
  
  .container {
    width: 800px;
    max-width: 80%;
    background-color: black;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px 2px;
    text-align: center;
    

  }
  
  .btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    
     
  }
  
  .btn {
    background-color:rgb(71, 12, 81);
    border: 1px solid hsl(200, 100%, 30%);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
    width: 200px;
    height: 40px;
    
  }
  
  .btn:hover {
    border-color: lavender;
    background-color: rgb(255, 67, 167);
  }